<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>大数据统计中控台</title>
    <script type="text/javascript" src="./static/js/jquery.js"></script>
    <script type="text/javascript" src="./static/js/echarts.min.js"></script>
    <script type="text/javascript" src="./static/js/js.js"></script>
    <script type="text/javascript" src="./static/js/jquery.liMarquee.js"></script>
    <script type="text/javascript" src="./static/js/jquery.cxselect.min.js"></script>

    <link rel="stylesheet" href="./static/css/comon0.css">
</head>

<body>
    <div style="background:#000d4a url(./static/images/bg.jpg) center top;">
        <div class="loading" style="display: none;">
            <div class="loadbox"> <img src="./static/images/loading.gif"> 页面加载中... </div>
        </div>
        <div class="back"></div>
        <div class="head">
            <div class="weather"><span id="showTime"></span></div>
            <h1>赛格国际+ 实时销售数据统计台</h1>

        </div>
        <script>
            var t = null;
            t = setTimeout(time, 1000); /*開始运行*/
            function time() {
                clearTimeout(t); /*清除定时器*/
                dt = new Date();
                var y = dt.getFullYear();
                var mt = dt.getMonth() + 1;
                var day = dt.getDate();
                var h = dt.getHours();
                var m = dt.getMinutes();
                var s = dt.getSeconds();
                document.getElementById("showTime").innerHTML = y + "年" + mt + "月" + day + "日" + h + "时" + m + "分" + s +
                    "秒";
                t = setTimeout(time, 1000);
            }
        </script>
        <div class="mainbox">
            <ul class="clearfix">
                <li>
                    <div class="boxall" style="height:400px;">
                        <div class="alltitle">标题样式标题样式</div>
                        <div class="navboxall" id="echart5" _echarts_instance_="ec_1606897117199"
                            style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative;">
                            <div
                                style="position: relative; overflow: hidden; width: 336px; height: 340px; padding: 0px; margin: 0px; border-width: 0px;">
                                <canvas data-zr-dom-id="zr_0" width="336" height="340"
                                    style="position: absolute; left: 0px; top: 0px; width: 336px; height: 340px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="boxall" style="height:260px;">
                        <div class="alltitle">实时购物数据</div>
                        <div class="navboxall">
                            <div class="wraptit">
                                <span>水单号</span><span>金额</span><span>品名</span><span>时间</span>
                            </div>
                            <div class="wrap str_wrap str_vertical">
                                <div class="str_move str_origin" style="top: -185.94px;">
                                    <ul>
                                        <li>
                                            <p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span>
                                            </p>
                                        </li>

                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="boxall" style="height:260px;">
                        <div class="alltitle">当日销售品类占比</div>

                        <div class="navboxall" id="echart1" _echarts_instance_="ec_1606897117195"
                            style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative;">
                            <div
                                style="position: relative; overflow: hidden; width: 336px; height: 200px; padding: 0px; margin: 0px; border-width: 0px;">
                                <canvas data-zr-dom-id="zr_0" width="336" height="200"
                                    style="position: absolute; left: 0px; top: 0px; width: 336px; height: 200px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                            </div>
                            <div></div>
                        </div>
                    </div>
                </li>
                <li>

                    <div class="boxall" style="height:230px">
                        <div class="clearfix navboxall" style="height: 100%">
                            <div class="pulll_left num">
                                <div class="numbt">累计销售额<span>(单位：元)</span></div>
                                <div class="numtxt">19382721 </div>
                                <div class="numbt">今日销售额<span>(单位：元)</span></div>
                                <div class="numtxt">19382721 </div>
                            </div>
                            <div class="pulll_right zhibiao">
                                <div class="zb1"><span>标题样式</span>
                                    <div id="zb1" _echarts_instance_="ec_1606897117200"
                                        style="-webkit-tap-highlight-color: transparent; user-select: none;">
                                        <div
                                            style="position: relative; overflow: hidden; width: 130px; height: 170px; padding: 0px; margin: 0px; border-width: 0px;">
                                            <canvas data-zr-dom-id="zr_0" width="130" height="170"
                                                style="position: absolute; left: 0px; top: 0px; width: 130px; height: 170px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="zb2"><span>标题样式</span>
                                    <div id="zb2" _echarts_instance_="ec_1606897117201"
                                        style="-webkit-tap-highlight-color: transparent; user-select: none;">
                                        <div
                                            style="position: relative; overflow: hidden; width: 130px; height: 170px; padding: 0px; margin: 0px; border-width: 0px;">
                                            <canvas data-zr-dom-id="zr_0" width="130" height="170"
                                                style="position: absolute; left: 0px; top: 0px; width: 130px; height: 170px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="zb3"><span>标题样式</span>
                                    <div id="zb3" _echarts_instance_="ec_1606897117202"
                                        style="-webkit-tap-highlight-color: transparent; user-select: none;">
                                        <div
                                            style="position: relative; overflow: hidden; width: 130px; height: 170px; padding: 0px; margin: 0px; border-width: 0px;">
                                            <canvas data-zr-dom-id="zr_0" width="130" height="170"
                                                style="position: absolute; left: 0px; top: 0px; width: 130px; height: 170px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="boxall" style="height:340px">
                        <div class="alltitle">线上小程序近日销售曲线</div>
                        <div class="navboxall" id="echart3" "></div>
                    </div>
                    <div class="boxall" style="height:350px">
                        <div class="alltitle">月销售额</div>
                        <div class="navboxall" id="echart4" ></div>

                    </div>
                </li>
                <li>
                    <div class="boxall" style="min-height:300px">
                        <div class="alltitle">当日销售数据</div>
                        <div class="navboxall">
                            <table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <th scope="col">排名</th>
                                        <th scope="col">公司</th>
                                        <th scope="col">数量</th>
                                        <th scope="col">增长率</th>
                                    </tr>
                                    <tr>
                                        <td><span>1</span></td>
                                        <td>腾讯科技</td>
                                        <td>114万<br></td>
                                        <td>100%<br></td>
                                    </tr>
                                    <tr>
                                        <td><span>2</span></td>
                                        <td>百度公司</td>
                                        <td>923823万</td>
                                        <td>21%</td>
                                    </tr>

                                    <tr>
                                        <td><span>3</span></td>
                                        <td>新浪</td>
                                        <td>1240253万</td>
                                        <td>12%</td>
                                    </tr>
                                    <tr>
                                        <td><span>4</span></td>
                                        <td>网易</td>
                                        <td>1.2亿</td>
                                        <td>39%</td>
                                    </tr>
                                    <tr>
                                        <td><span>5</span></td>
                                        <td>雅虎</td>
                                        <td>13423万</td>
                                        <td>9%</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="boxall" style="min-height: 300px">
                        <div class="alltitle">总销售数据</div>
                        <div class="navboxall">
                            <table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody class="allkind">
                                    <tr>
                                        <th scope="col">排行</th>
                                        <th scope="col">品类</th>
                                        <th scope="col">销售额(元)</th>
                                        <th scope="col">笔数</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="boxall" style="height:320px">
                        <div class="alltitle">总销售分布 单位（元）</div>
                        <div class="navboxall" id="echart2"></div>
                    </div>


                </li>
            </ul>

        </div>
    </div>

    <script>
        $(function () {
            $('.wrap,.adduser').liMarquee({
                direction: 'up',
                /*身上滚动*/
                runshort: false,
                /*内容不足时不滚动*/
                scrollamount: 20 /*速度*/
            });
        });
    </script>




</body>

</html>